/*  your css code here. If applicable */
#grid{
	display:grid;
	grid-template-columns:repeat(3,1fr);
	background-color:white;
	grid-gap:10px;
	padding:10px;

}
.box{
	height:100px;
	width:100px;
	background-color:green;
	color:white;
	padding:20px;
}
.box1{
	grid-column:1/5;
}
.box2{
	grid-row:2/5;
}
.box3{
	grid-column:2/3;
}
.box4{
	grid-column:3/5
}
.box5{
	grid-column:2/4;
}
.box6{
	grid-column:4/5;
}
.box7{
	grid-column:2/3;
}
.box8{
	grid-column:3/4;
}
.box9{
	grid-column:4/5;
}
.box10{
	grid-column:2/5;
}